<div class='jumbotron col-md-4 col-md-push-4'>
	<div class='container vertical-center'>
		<p>Welcome to your wishlist!</p>

		<div class="form-group">
		    <label for="itemName">Item Name </label>
		    <input ng-model='wishData.itemName' class="form-control" id="itemName" required>

		    <label for="keywords">Keywords</label>
		    <input ng-model='wishData.keywords' class="form-control col-md-4" id="size">
		    <br>
		</div>
		<br>
		<br>

	<button class="btn btn-primary" ng-click="wish.addWish()">Add An Item</button>
	<div class='individual-post' ng-repeat="item in today">
		<form editable-form name="editableForm" onaftersave="saveUser()">
			<div>
      <!-- editable username (text with validation) -->
     		 <span class="title">Item: </span>
      		<span editable-text="item.itemName" e-ng-model="itemName.itemName" e-name="itemName" e-required>{{ item.itemName || 'empty' }}</span>
    		</div> 

		    <div>

		    <div>
      <!-- editable username (text with validation) -->
     		 <span class="title">Keywords: </span>
      		<span editable-text="item.keywords" e-ng-model="item.keywords" e-name="keywords" e-required>{{ item.keywords || 'empty' }}</span>
    		</div> 

		    <div>
       
		      <!-- button to show form -->
		      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
		        Edit
		      </button>

		       <!-- buttons to submit / cancel form -->
	      <span ng-show="editableForm.$visible">
	        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
	          Save
	        </button>
	        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
	          Cancel
	        </button>
	      </span>

	      <button class="btn btn-danger" ng-click="wish.deleteOption(item)">Delete</button>
	              
	    </div>
	  </form>  
	</div>


	<!-- 	<a href='#' editable-text='item.itemName'><h4>{{item.itemName || 'empty'}}</h4></a>
		<p>
		<br>
		<a href='#' editable-text='item.dimensions'><h4>{{item.dimensions|| 'empty'}}</h4></a>
		
		</p>
 -->
	<!-- <button class="btn btn-primary" ng-click="wish.editOption(item)">Submit Edit</button> -->
</div>
