.wishlist {
  width: 100%;
}

.wishlist-container {
	background-color: none;
	width: 40%;
	margin: auto;
}

.wishlist-container .title {
	font-weight:bold;
}

.singleWish, .singleWish p, .singleWish input {
	margin-bottom: 1em;
}

.div.row.row-centered {
	background-color: none;
}