<h1>Your Current Offers</h1>
<div class='individual-post' ng-repeat="post in currentOffers">
	<h4>{{post.postTitle}}</h4>
	<p>
		BIDS: {{post.numBids}}
		<br>
		POST TYPE: {{post.postType}}
		<br>
		
		<img class='image' src = "{{post.img[0]}}">

		<br>
		{{post.description}}
		<br>
		{{post.dimensions}}
		<br>
		{{post.crossStreets}}
		<br>
		{{post.itemType}}
		<br>
		{{post.keyWords}}
		<br>
		{{post.taken}}
		<br>
		USER: {{post.user.name}}
		ID: {{post._id}}
	</p>
		<label for="rating">Rating</label>
		<input type="radio" name='rating' value='1' ng-model='tempRating'>1
		<input type="radio" name='rating' value='2' ng-model='tempRating'>2
		<input type="radio" name='rating' value='3' ng-model='tempRating'>3
		<input type="radio" name='rating' value='4' ng-model='tempRating'>4
		<input type="radio" name='rating' value='5' ng-model='tempRating'>5
		<button class='btn btn-warning' ng-click='userOffers.submitRating(userBeingRatedId, tempRating)'>Rate</button>
	<br>
	<button class="btn btn-primary" ng-click="userOffers.setTaken(post._id)">Taken</button>
	<button class="btn btn-primray" ng-click="userOffers.gifting(post._id, index)">Gifting</button>
	<button class="btn btn-danger" ng-click="userOffers.deleteOption(post._id)">Delete</button>
  	<a class='abort' ng-click='userOffers.abortTransaction()'>Abort Transaction</a>
  <div ng-if='obj[index]' class="dropdown">
    <button id='dropDownUL' class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown'>
      <span>Pick A Recipient</span>
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
    	<li ng-repeat="bid in bids" ><a ng-click='userOffers.notifyRecipient(post._id, bid._id)'> {{bid.name}}</a></li>
    </ul>
  </div>
</div>
