<h1 class='offWhiteText'>Your Current Offers</h1>
<div class='individual-post' ng-repeat="post in currentOffers">
	<h3>{{$index+1}}. <a href="/singlePost/{{post._id}}">{{post.postTitle | capitalize }}</a></h3>
				<div ng-if='post.img.length > 0'>
					<img class='image' src = "{{post.img[0]}}">
				</div>
				<p>
					<h5>Post Type: </h5> {{post.postType | capitalize}}
					<br>
					<h5>Description: </h5> {{post.description | capitalizeFirst}}
					<br>
					<h5>Location: </h5> {{post.crossStreets | capitalizeFirst}}
					<br>
					<h5>Item Type: </h5> {{post.itemType}}
					<br>
					<h5>Keywords: </h5> {{post.keyWords | joinKeywords | capitalize}}
					<br>
					<h5>Date: </h5> {{post.date | date: 'short'}}
					<br>
					<h5>Size: </h5> {{post.dimensions | capitalize}}
					<br>
<!-- 					<h5>Posted By: </h5> {{post.user.email}}
 -->				</p>
<!-- 		USER: {{post.user.name}}
		ID: {{post._id}}
		ID: {{post.inTransactionWith}}
	</p> -->
	<div ng-if="post.ratingsEnabled">
		<label for="rating">Rating</label>
		<input type="radio" name='rating' value='1' ng-model='tempRating'>1
		<input type="radio" name='rating' value='2' ng-model='tempRating'>2
		<input type="radio" name='rating' value='3' ng-model='tempRating'>3
		<input type="radio" name='rating' value='4' ng-model='tempRating'>4
		<input type="radio" name='rating' value='5' ng-model='tempRating'>5
		<button class='btn btn-warning' ng-click='userOffers.submitRating(post.inTransactionWith[0], tempRating, post._id, $index)'>Rate</button>
	</div>
	<br>
	<button class="btn btn-primary" ng-click="userOffers.setTaken(post._id, $index)">Taken</button>
	<button class="btn btn-primray" ng-if='post.bids.length > 0' ng-click="userOffers.gifting(post._id, $index)">Gifting</button>
	<button class="btn btn-danger" ng-click="userOffers.deleteOption(post._id, $index)">Delete</button>
  	<a class='abort' ng-click='userOffers.abortTransaction(post._id, post.inTransactionWith[0], $index)'>Abort Transaction</a>
  <div ng-if='obj[$index]' class="dropdown">
    <button id='dropDownUL' class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown'>
      <span>Pick A Recipient</span>
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
    	<li ng-repeat="bid in bids" ><a ng-click='userOffers.notifyRecipient(post._id, bid._id, $parent.$index)'> {{bid.name}}</a></li>
    </ul>
  </div>
</div>
