<h1 class='offWhiteText'>Your Current Wanteds</h1>
<div ng-if='currenWanteds.length === 0'>
  <h4 class='offWhiteText empty'> You have no wants at this time </h4>
</div>
<div class='individual-post' ng-repeat="post in currentWanteds">
  <div ng-hide="obj[$index]">
  	<h3>{{$index+1}}. <a href="/singlePost/{{post._id}}">{{post.postTitle | capitalize}}</a></h3>
    <div ng-if='post.img.length > 0'>
      <img class='image' src = "{{post.img[0]}}">
    </div>
    <p>
      <h5>Post Type: </h5> {{post.postType | capitalize}}
      <br>
      <h5>Description: </h5> {{post.description | capitalizeFirst}}
      <br>
      <h5>Location: </h5> {{post.crossStreets | capitalize}}
      <br>
      <h5>Item Type: </h5> {{post.itemType}}
      <br>
      <h5>Keywords: </h5> {{post.keyWords | joinKeywords | capitalize}}
      <br>
      <h5>Date: </h5> {{post.date | date: 'short'}}
      <br>
      <h5>Size: </h5> {{post.dimensions}}
      <br>
<!--       <h5>Posted by: </h5> {{post.user.email}}
      USER: {{post.user.name}}
      ID: {{post._id}} -->
    </p>

  	<button class="btn btn-danger" ng-click="userWanteds.deleteOption(post._id, $index)">Delete</button>
  	<button class="btn btn-warning" ng-click="userWanteds.editOption($index)">Edit</button>
  </div>

<form ng-if= 'obj[$index]'> 
  <div class="dropdown">
    <button id='dropDownUL' class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown'>
      <span>{{ post.itemType }}</span>
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
      <li ng-click="postItem.OnItemClick('Furniture')">Furniture</li>
      <li ng-click="postItem.OnItemClick('Electronics')">Electronics</li>
      <li ng-click="postItem.OnItemClick('Household')">Household</li>
      <li ng-click="postItem.OnItemClick('Transport')">Transport</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Miscellaneous</li>
    </ul>
  </div>


  <div class="form-group">
    <label for="moreInfo">Post Title</label>
    <input ng-model='post.postTitle' class="form-control" id="postTitle" required>

    <label for="location">Cross Streets</label>
    <input ng-model='post.crossStreets' class="form-control col-md-4" id="locationField" required>
    <br>

    <label for="description">Short Description</label>
    <input ng-model='post.description' class="form-control col-md-6" id="descriptionField" required>
    <br>

    <label for="dimensions">Dimensions</label>
    <input ng-model='post.dimensions' class="form-control col-md-4" id="size">
    <br>

    <label for="keywords">Key words</label>
    <input name="keyWords" ng-model='tempKeyword' class="form-control" id="keyWords" ui-validate="'validateKeywords()'">
    <span class="keyWordBubble" ng-repeat="word in post.keyWords">{{word}}</span>
    <br>
    <button class="btn btn-primary" ng-click="userWanteds.addKeyWord(tempKeyword)">Add Key Words</button>
    <br>

<!-- <button ng-click='add()'>Add</button> -->

<div ng-repeat="img in post.img">
  <button ng-click="userWanteds.deleteImage($index)">Delete</button>
  <img class="previewImg" ng-src="{{img}}">
</div>



  ID: {{post._id}}
  <button type="submit" class="btn btn-default" ng-click='userWanteds.submitData(post._id, post, $index, PostForm.$valid)'>Submit</button>
  <!-- FIX FORM VALIDATION -->

</form>