<div ng-include="'components/navbar/navbar.html'"></div>

<div class='jumbotron'>
	<div class="row">

		<div class='col-sm-12 col-lg-6'>
			<div class="buttonHolder">
				<button class='btn btn-warning' ng-click='items.getPosts()'>All Posts</button>
				<button class='btn btn-warning' ng-click='items.getWanteds()'>Wanted</button>
				<button class='btn btn-warning' ng-click='items.getOffereds()'>Offers</button>
				<input type="text" name='keywords' ng-model='keywords' ng-enter="items.submitKeywords()" placeholder='keyword search'> 	
			</div>
			<div class='individual-post' ng-repeat="post in currentPosts">
				<h3>{{$index+1}}.<a href="/singlePost/{{post._id}}"> {{post.postTitle | capitalize}}</a></h3>
				<div ng-if='post.img.length > 0'>
					<img class='image' src = "{{post.img[0]}}">
				</div>
				<p>
					<h5>Post Type: </h5> {{post.postType | capitalize}}
					<br>
					<h5>Description: </h5> {{post.description | capitalizeFirst}}
					<br>
					<h5>Location: </h5> {{post.crossStreets | capitalize}}
					<br>
					<h5>Item type: </h5> {{post.itemType}}
					<br>
					<h5>Keywords: </h5> {{post.keyWords | joinKeywords | capitalize}}
					<br>
					<h5>Date: </h5> {{post.date | date: 'short'}}
					<br>
					<h5>Size: </h5> {{post.dimensions}}
					<br>
					<h5>Posted by: </h5> {{post.user.email}}
					<br>
					<h5>Posted by: </h5> {{post.user._id}}
				</p>

				<div ng-hide='bidPressed[$index]'>
					<button class='btn btn-primary' ng-if="post.postType === 'offered'" ng-click='items.bidOnItem(post._id, post.user._id, $index)'>Bid</button>
					<button class='btn btn-warning' ng-if='biddedOn[$index]' ng-click='items.showMessageForm($index)'>Send a Message</button>
					<form ng-if='messageForm[$index]'>
						<input type="text" ng-model='messageArray[$index].body'>
						<button ng-click='items.sendMessage($parent.post.user._id, $parent.$index)'>Submit</button>
					</form>
				</div>


			</div>

		</div>


		<div class='map-column col-sm-12 col-lg-6'>
			<a class='pageButtons' ng-click='items.changePage("previous")'>Previous Page</a> |
			<a class='pageButtons' ng-click="items.changePage('next')">Next Page</a>

			<div id='map-canvas'></div>	
		</div>
	</div>
</div>