#map-canvas {
	/*margin: auto;*/
	width: 700px;
  margin-top: 20px;
	height: 500px;
}

.map-column{
	margin-top:20px;
}

.pageButtons {
	font-size: 1.2em;
	font-weight: bold;
	color: rgba(255, 255, 245, 0.8);
	text-decoration: none;
	cursor: pointer;
	margin-top:20px;
}

.pageButtons:hover {
	text-decoration:none;
	color: rgba(200, 200, 200, 0.8);
}

.buttonHolder {
	margin: 1em auto;
	width:80%;
}

#infoTip {
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}

.paginationBox {
   margin: 50px auto;
   float: none;
}

@media (max-width:768px) {

	#map-canvas {
		margin:auto;
	}

}