<div ng-include="'components/navbar/navbar.html'"></div>

<div class='jumbotron'>
	<div class="row">

		<div class='col-sm-12 col-lg-6'>
			<button class='btn btn-warning' ng-click='items.getPosts()'>All Posts</button>
			<button class='btn btn-warning' ng-click='items.getWanteds()'>Wanted</button>
			<button class='btn btn-warning' ng-click='items.getOffereds()'>Offers</button>
			<label for='keywords'>Keyword Search</label>
			<input type="text" name='keywords' ng-model='keywords' ng-enter="items.submitKeywords()"> 
			<div class='individual-post' ng-repeat="post in allPosts">
				<h4>{{post.postTitle}}</h4>
					POST TYPE: {{post.postType}}
					<br>

					<br>
					{{post.description}}
					<br>
					{{post.dimensions}}
					<br>
					{{post.crossStreets}}
					<br>
					{{post.itemType}}
					<br>
					{{post.keyWords}}
					<br>
					USER: {{post.user.email}}
				</p>

				<button class='btn btn-primary' ng-if = "post.postType === 'offered'" ng-click='items.bidOnItem(post._id, post.user._id, $index)'>Bid</button>
				<button class='btn btn-warning' ng-if='biddedOn[$index]' ng-click='items.showMessageForm($index)'>Send a Message</button>
				<form ng-if='messageForm[$index]'>
					<input type="text" ng-model='newMessage.body'>
					<button ng-click='items.sendMessage(post.user._id)'>Submit</button>
				</form>
			</div>

		</div>


		<div id='map-canvas' style='width: 600px; height:500px' class='col-sm-12 col-lg-6'></div>
	</div>
</div>