
<div class='jumbotron col-md-4 col-md-push-4'>
  <div class='container vertical-center'>
<form name="PostForm" novalidate>
  <div class="checkbox">
    <label class='checkbox-inline'>
      <input type="checkbox" ng-model='formData.postType.offerSelected' ng-checked='postItem.myClick()'> I'm offering an Item<br>
    </label>
  </div>
  <div class='checkbox'>
     <label class= 'checkbox-inline'>
      <input type="checkbox" ng-model='formData.postType.wantedSelected' ng-checked=''> I'm looking for an Item<br>
    </label>
  </div>

  <div class="dropdown">
    <button id='dropDownUL' class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown'>
      <span>{{ formData.itemType }}</span>
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
      <li ng-click="postItem.OnItemClick('Furniture')">Furniture</li>
      <li ng-click="postItem.OnItemClick('Electronics')">Electronics</li>
      <li ng-click="postItem.OnItemClick('Household')">Household</li>
      <li ng-click="postItem.OnItemClick('Transport')">Transport</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Miscellaneous</li>
    </ul>
  </div>


  <div class="form-group">
    <label for="moreInfo">Post Title</label>
    <input ng-model='formData.postTitle' class="form-control" id="postTitle" required>

    <label for="location">Cross Streets</label>
    <input ng-model='formData.crossStreets' class="form-control col-md-4" id="locationField" required>
    <br>

    <label for="description">Short Description</label>
    <input ng-model='formData.description' class="form-control col-md-6" id="descriptionField" required>
    <br>

    <label for="dimensions">Dimensions</label>
    <input ng-model='formData.dimensions' class="form-control col-md-4" id="size">
    <br>

    <label for="keywords">Key words</label>
    <input name="keyWords" ng-model='tempKeyword' class="form-control" id="keyWords">
    <span class="keyWordBubble" ng-repeat="word in formData.keyWords">{{word}}</span>
    <br>
    <button class="btn btn-primary" ng-click="postItem.addKeyWord(tempKeyword)">Add Key Words</button>
    <br>

    <label for="exampleInputFile">Add A Photo</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <button type="submit" class="btn btn-default" ng-click='postItem.submitData(formData, PostForm.$valid)'>Submit</button>
  <!-- FIX FORM VALIDATION -->
  <br>
  <div>{{PostForm.$valid}}</div>
</form>
</div>