.jumbotron {
	float: center;
	background: none;
	color: #dcdbcd;
}



#descriptionField {
	height: 100px; 
	border: 1px solid;
	margin-bottom: 10px;
/*		margin-top: 10px;
*/}

#locationField {
	margin-bottom: 10px;
}

#dropDownUL {
	margin-bottom: 10px;
	margin-top: 10px;
}

#keywordContainer {
	clear: both;
	margin: 1em 0;
}

.keyWordBubble {
	padding: .5em;
	margin: 0 .5em;
	border: 2px solid rgba(255, 255, 255, 0.7);
	float: left;
	border-radius: .4em;
}

.previewImg {
	width: 75px;
	height: 75px;
}