<div ng-include="'components/navbar/navbar.html'"></div>

<div class='jumbotron col-sm-4 centered'>
<div class='container vertical-center'>
<form name="PostForm" novalidate>
  <div class="post-type-button">
    <label>
      <input type="radio" name='post-type' ng-click='postItem.myClick("offered")'>
      <span>I'm offering an Item</span>
    </label>
  </div>
  <div class='post-type-button'>
     <label>
      <input type="radio" name='post-type' ng-click='postItem.myClick("wanted")'>
      <span>I'm looking for an Item</span>
    </label>
  </div>

  <div class="dropdown">
    <button id='dropDownUL' class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown'>
      <span>{{ formData.itemType }}</span>
      <b class="caret"></b>
    </button>
    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
      <li ng-click="postItem.OnItemClick('Furniture')">Furniture</li>
      <li ng-click="postItem.OnItemClick('Electronics')">Electronics</li>
      <li ng-click="postItem.OnItemClick('Household')">Household</li>
      <li ng-click="postItem.OnItemClick('Transport')">Transport</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Appliances</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Antiques</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Arts + Crafts</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Farm + Garden</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Books</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Cars + Trucks</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Toys + Games</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Clothes</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">General</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Auto Parts</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Pets</li>
      <li ng-click="postItem.OnItemClick('Miscellaneous')">Miscellaneous</li>
    </ul>
  </div>


  <div class="form-group">
    <label for="moreInfo">Post Title</label>
    <input ng-model='formData.postTitle' class="form-control" id="postTitle" required>

    <label for="location">Cross Streets</label>
    <input ng-model='formData.crossStreets' class="form-control col-md-4" id="locationField" required>
    <br>

    <label for="zipCode">Zip Code</label>
    <input ng-model='formData.zipCode' class="form-control col-md-4" id="locationField" required>
    <br>

    <label for="description">Short Description</label>
    <input ng-model='formData.description' class="form-control col-md-6" id="descriptionField" required>
    <br>

    <label for="dimensions">Dimensions</label>
    <input ng-model='formData.dimensions' class="form-control col-md-4" id="size">
    <br>

    <label for="keywords">Key words</label>
    <input name="keyWords" ng-model='tempKeyword' class="form-control" id="keyWords" ui-validate="'validateKeywords()'" ng-enter="postItem.addKeyWord(tempKeyword)">
    <div id="keywordContainer">
      <div class="keyWordBubble" ng-repeat="word in formData.keyWords">
        <span ng-click='postItem.dropKeyword($index)'>{{word}}</span>
      </div>
    </div>
    <div class='imgbox'>
      <li ng-repeat="img in formData.img">
        <img class="previewImg" ng-src="{{img}}" ng-click="postItem.deleteImage($index)">
      </li>
    </div>
    <br>
    <button class="btn btn-primary" ng-click="postItem.addKeyWord(tempKeyword)">Add Key Words</button>
    <button class='btn btn-primary save' ng-click="postItem.filepicker(postItem.fpConfig, postItem.onSuccess)">Upload Image</button>
    <button type="submit" class="btn btn-default" ng-click='postItem.submitData(formData, PostForm.$valid)'>Submit</button>


</form>
</div>