.splashPage {
    color: #fff;
}

.splash_text h1{
    font-family: 'Libre Baskerville', serif;
}

#banner {
   border-bottom: none;
   margin-top: -20px;
}

#banner h1 {
   font-size: 5em;
}

#banner a{
    text-decoration: none;
    color: #1a6431;
}

.hero-unit {
   position: relative;
   padding: 30px 15px;
   color: #F5F5F5 ;
   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
   background-color: rgba(0, 0, 0, 0.6);
}

#banner p {
  font-size:1.4em;
}

sup {
  top:-1.5em;
  left:-.3em;
  font-weight:bold;
  font-size: 40%;
}