<h1 class='offWhiteText'>Your Current Transactions</h1>
<div ng-if='myTransactions.currentTransactions.length === 0'>
    <h4 class='offWhiteText empty'> You have no transactions at this time </h4>
</div>
<div class='individual-post' ng-repeat="post in myTransactions.currentTransactions track by $index">
	<h3>{{$index+1}}. <a href="/singlePost/{{post._id}}">{{post.postTitle | capitalize}}</a></h3>
  <div ng-if='post.img.length > 0'>
    <img class='image' src = "{{post.img[0]}}">
  </div>
  <p>
    <h5>Post Type: </h5> {{post.postType | capitalize}}
    <br>
    <h5>Description: </h5> {{post.description | capitalizeFirst}}
    <br>
    <h5>Location: </h5> {{post.crossStreets | capitalize}}
    <br>
    <h5>Item Type: </h5> {{post.itemType}}
    <br>
    <h5>Keywords: </h5> {{post.keyWords | joinKeywords | capitalize}}
    <br>
    <h5>Date: </h5> {{post.date | date: 'short'}}
    <br>
    <h5>Size: </h5> {{post.dimensions}}
    <br>
<!--     <h5>Posted by: </h5> {{post.user.email}}
    USER: {{post.user.name}}
    ID: {{post._id}} -->
  </p>
	<label for="rating">Rating</label>
	<input type="radio" name='rating' value='1' ng-model='tempRating'>1
	<input type="radio" name='rating' value='2' ng-model='tempRating'>2
	<input type="radio" name='rating' value='3' ng-model='tempRating'>3
	<input type="radio" name='rating' value='4' ng-model='tempRating'>4
	<input type="radio" name='rating' value='5' ng-model='tempRating'>5
	<br>
	{{tempRating}}
	<button class='btn btn-warning' ng-click='userWanteds.submitRating(post.user, tempRating)'>Rate</button>
	<button class="btn btn-danger" ng-click="userWanteds.deleteOption(post._id)">Delete</button>
</div>